<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Clipboard Manager V2</string>
    <key>CFBundleDisplayName</key>
    <string>Clipboard Manager V2</string>
    <key>CFBundleIdentifier</key>
    <string>com.clipboardmanager.v2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.10</string>
    <key>CFBundleIconFile</key>
    <string>clipboard_icon.png</string>
    <key>CFBundleExecutable</key>
    <string>clipboard_manager_ui_v2.py</string>
</dict>
</plist>
